// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
@include blueprint;

@include blueprint-scaffolding;

a {
    @include hover-link;
}

#header {
    margin-top:20px;
    border-bottom: 1px dotted #ccc;
    img {
        height: 40px;
    }
}

#slogan {
    float: right;
    margin-top: 15px;
    color: $light-grey;
    letter-spacing: 3px;
}

body {
    font-size: $normal-size;
    font-family: 'Helvetica Neue',"Hiragino Sans GB","Microsoft YaHei",Helvetica,Arial,sans-serif, STHeiti, Verdana;
}

header.title {
    // border-bottom: 1px solid #eeeeee;
    // padding: 5px 0 5px 0;
    margin-top: 5px;
}

.content {
    margin-top: 20px;
    }

article {
    margin: 15px 0px;
    p {
        margin-bottom: 10px;
        line-height: 165%;
    }
}

h1 {
    font-size: $normal-size;
    color:$dark-blue;
    margin-right: 20px;
    }

.post_h1 {
    font-size: $normal-size + 2;
    margin: 1px 0 10px 0;
    border: 0;
    color: #003063;
    font-family: 'Helvetica Neue',"Hiragino Sans GB","Microsoft YaHei",Helvetica,Arial,sans-serif, STHeiti, Verdana;
    font-size: medium;
    text-align: left;
}

.meta {
    color:#BFBFBF;
    font-size: 14px;
    }

.post_meta {
    margin: 15px 0;
    }

.right {
    float: right;
}

.separator {
    color: #cccccc;
    margin:0 3px;
}

a.old_archive {
    color:#bbbbbb;
    background-color:#efefef;
    font-size: $normal-size;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
a.old_archive:hover {
    background-color: #ddd;
    color: #333333;
}

#footer {
    border-top: 1px solid #eee;
    margin-top:20px;
    padding: 20px 0;
    text-align: center;
    color: #ccc;
    font-size: $normal-size - 2;
    // color:#bbbbbb;background-color:#efefef;
}
